.terraform/
*.tfstate
.terraform.lock.hcl
workflows/
terraform.tfstate.backup
contexto.md
*.crt
*.key
*.pem
*.log
*.tfvars
*.tfvars.json
*.tfvars.yaml
*.tfvars.yml
*.tfvars.tf
.vault_pass
notes.txt
.vault_pass
*.bak
*.backup
*.swp
*.swo
*.tmp
*.log
*.out
*.err
*.log.*
